<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="js/compatible.js"></script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>Welcome</title>
        <script type="text/javascript" src="js/performance-white-screen.js"></script>
    </head>
    <body data-performance-host="http://domain.com/performance">
        <div id="app"></div>
        <script src="js/performance-first-screen.js"></script>
    </body>
    <script type="text/javascript" src="js/performance-ready.js"></script>
    <script type="text/javascript" src="js/performance-load.js"></script>
</html>
